<section class="resource sign_in wrap">
  <h1>Sign in</h1>

  <p>Sign in with your <%= organization_name %> GitHub account to access <%= library_title %>.</p>

  <p><%= link_to "Sign in with GitHub", "/auth/github", :class => 'btn' %></p>
</section>
