<section class="resource sign_in wrap">
  <h1>Sign in</h1>

  <p>Sign in with your GitHub account to access the GDS Library.</p>

  <p><%= link_to "Sign in with GitHub", "/auth/github", :class => 'btn' %></p>
</section>
