language: ruby
rvm:
  - 2.6.1
services: postgres
before_script:
  - rm config/database.yml
  - cp config/database.travis.yml config/database.yml
  - psql -c 'create database books_test;' -U postgres
  - bundle exec rake db:migrate RAILS_ENV=test
  - bundle exec rake update_shelf_numbers_for_wcb
