<section class="resource wrap">
  <h1>New copy of <%= @book.title %></h1>

  <p>Leave blank to generate a Copy ID automatically.</p>

  <%= semantic_form_for [@book, @copy] do |f| %>
    <%= f.input :book_reference, :label => "Copy ID" %>

    <%= f.actions %>
  <% end %>
</section>

