<%= render :partial => "display_selection" %>

<ul class="books books_grid">
  <% @books.each do |book| %><li class="<%= book.available? ? "available" : "unavailable" %>"><%= link_to book_path(book) do %><%= book_cover_tag(book) %><% end %></li><% end %>
</ul>
