<div class="filterable-list">
  <%= render :partial => "filters" %>

  <div class="results">
  <h1>Books</h1>
    <%= render :partial => "book_grid", :locals => { :books => @books } %>
  </div>
</div>
