<section class="resource wrap">
  <h1>New book</h1>

  <%= semantic_form_for @book, :html => {:class => "new-book"} do |f| %>
    <%= f.input :isbn, :label => "ISBN", :placeholder => "Enter the book's ISBN to search..." %>

    <article id="book-preview"></article>

    <%= f.actions %>
  <% end %>
</section>

<script id="book-preview-template" type="text/html">
  <img src="{{ covers.google }}" />
  <h1>{{ title }}</h1>
  <dl>
    <dt>Author</dt>
    <dd>{{ author }}</dd>
  </dl>
  <div class="clear"></div>
</script>
