.btn, a.btn, .formtastic .btn, .formtastic input[type=submit], .formtastic button {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
  border-bottom-width: 3px;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: bold;
  background: #f6f6f6;
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(to bottom, #fff, #eee);
  color: #333;
  text-decoration: none;
  font-size: 1em;

  &:hover {
    background-image: linear-gradient(to bottom, #f6f6f6, #e6e6e6);
    background-image: -webkit-linear-gradient(#f6f6f6, #e6e6e6);
    background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  }

  &:active {
    border-bottom-width: 1px;
    margin-top: 2px;
  }
}

.formtastic input[type=submit], .formtastic button {
  font-size: 1rem;
}
