.new-copy, .edit-copy {
  .formtastic .actions {
    padding: 1em 0 0 0;
  }

  .formtastic {
    display: block;
  }

  .formtastic .inline-errors {
    float: none;
    margin: 0;
  }
}

.edit-copy .copy-display {
  height: 200px;
  line-height: 200px;
  vertical-align: middle;

  .cover {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  dl.copy-number {
    display: inline-block;
    margin: 0 0 0 2em;
    vertical-align: middle;
    line-height: normal;

    dt {
      display: inline-block;
      font-weight: normal;
      line-height: normal;
    vertical-align: middle;
    }

    dd {
      display: inline-block;
      font-weight: bold;
      font-size: 300%;
    line-height: normal;
    vertical-align: middle;
    }
  }
}

fieldset.location {
  display: block;
  margin: 1.5em 0 0 0;
  padding: 1em;
  background: #eee;
  border-bottom: 1px solid #ccc;

  li.input {
    margin-bottom: 0;
  }
}

.returned-by {
  display: block;
  padding: 0.25em 0 0;
  font-size: 0.8em;
  color: #666;

  &::before {
    content: "→";
    padding-right: 0.5em;
  }
}

.missing-notice {
  border: 1px solid #ccc;
  border-left: 12px solid #d2381d;
  background: #f6f6f6;
  padding: 16px;
  line-height: 1.6;
}
