.start {

  .greeting {
    margin: 1rem;

    span { color: #777; }
    h1, span { display: inline-block; margin: 0 0 0.25em; vertical-align: baseline; }

    @media (min-width: 825px){
      margin: 1rem 0;
      font-size: 1.3em;
      span { padding-left: 0.25em; }
    }
  }


  .browse ul.books {
    font-size: 0.7em;
  }

  margin-bottom: 1em;

  h2 { font-size: 1.3em; font-weight: normal;
    @media (min-width: 825px){

    }
  }

  .start-form form {
    input { display: inline-block; vertical-align: middle; }
    input[type=text] { font-size: 1em; padding: 0.35em; width: 80%; }
  }

  .recent-activity {
    @media (min-width: 825px){
      margin: 1em 0 4em;
    }

    border-top: 2px solid #ddd;
    margin: 1em 1em 4em;
    ul {
      padding-left: 0;
      li { list-style: none; font-size: 0.95em; margin: 0.5em 0;
        span.timestamp { display: block; font-size: 0.9em; padding: 0.3em 0; color: #666; }
      }
    }
  }

}
